
{%load static%}
{% url 'home' as home %}
{% url 'about' as about %}
{% url 'services' as services %}
{% url 'team' as team %}
{% url 'contact' as contact %}
{% url 'portfolio' as portfolio %}

<header id="header" class="fixed-top" style="background-color: #000000">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#">Velocity ltd<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo"><img src= '{% static "assets/img/logo.png" %}' alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
      <li class= "{% if request.path == home %} active {% endif %}">
            <a href="{% url 'home' %}">Home</a></li>
          <li class ="{% if request.path ==  about %} active {% endif %}">
            <a href="{% url 'about' %}">About</a></li>
          <li class="{% if request.path == services %} active {% endif %}"><a href="{% url 'services' %}">Services</a></li>
          <li class= "{% if request.path == portfolio %} active {% endif %}"><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li class = "{% if request.path == team %} active {% endif %}"><a href="{% url 'team' %}">Team</a></li>
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li class="{% if request.path == contact %} active {% endif %}"><a href="{% url 'contact' %}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="{% url 'home' %}" class="get-started-btn scrollto">Get Started</a>
 -->
    </div>
  </header><!-- End Header -->
