<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Digital Solutions</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  {% include 'snippets/css.html'%}

</head>

 {%include 'snippets/header.html'%}
 

 {%block content%}


 {%endblock content%}

 {%include 'snippets/footer.html'%}

 {%include 'snippets/arrow.html'%}

 {%include 'snippets/js.html'%}

  <body>
  	

  </body>
  </html>
  